html {
    background-color: #e6e6e6;
}
﻿.no1 {
  color: green;
}

.no2 {
  color: red;
  text-shadow: 2px 2px 1px rgba(255,0,0,0.5);
}
#header{
   background-color: #000 ;
}
#header h1{
   color: #fff;
}
#contents {
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}
#slideShow{
    height: 300px;
}
#slideShow img{
	/* 全てを非表示にして、画像を重ねる */
	display:none;
	position: absolute;
}
#slideShow img:nth-of-type(1){
	/* 1枚目の画像だけ表示 */
	display:block;
}
